body
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Kumbh Sans", sans-serif;
line-height: 1.4;
background: linear-gradient(365deg,hsl(240, 73%, 65%),hsl(273, 75%, 66%));
height: 100vh;
position: relative;
font-weight: 400;
}
div
{
background: #E2E5F6;
border-radius: 30px;
text-align: center;
margin: auto;
position: relative;
width: 65%;
height: 76%;
top: 12%;
z-index: 0;
overflow: hidden;
}
h1
{
text-align: center;
position: inherit;
margin: 5% 0% 2.5% 5%;
padding-top: 10px;
}
details
{
display: block;  
width: 35%;  
position:relative;
text-align: left;
left:50%;
top: -20px;
padding: 20px 0;
cursor: pointer;
background:#E2E5F6;
color:hsl(237, 12%, 33%);
transition: ease .5s;
font-size: 12pt;
border-bottom: 1px solid grey;
}
details[open] summary
{
    font-weight: 700;
}
summary::-webkit-details-marker {
display: none
}
summary:after {
content: url(../images/arrow.svg);
float: right;
}
details[open] summary:after {
content: url(../images/arrow.svg);
transform: rotate(180deg);
}
summary:hover
{
background:#c7c7c7;
font-weight: 700;
}
p
{
color: hsl(237, 12%, 33%);
text-align: center;
}
span{
border-radius: 10px;
}
span:hover{
cursor: pointer; 
}
.woman{
top: 15%;
right: 58%;
position: absolute;
z-index: 1;
width: 50%;
}
.box
{
top: 40%;
left: 10%;
position: absolute;
z-index: 1;
width: 15%;
}
.shadow
{
top: -45%;
right: 58%;
position: absolute;
z-index: 1;
width: 90%;
}




