body
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Kumbh Sans", sans-serif;
line-height: 1.4;
background: linear-gradient(365deg,hsl(234, 50%, 54%),hsl(258, 73%, 68%));
height: 100vh;
position: relative;
}
input
{
display: none;

}
label
{
display: block;    
text-align: center;
padding: 35px 0px 15px 250px;/*currently using padding to get the position I want*/
cursor: pointer;
background:#E2E5F6;
border-radius: 3px;
color:black;
transition: ease .5s;
}
span{
padding: 10px;
border-radius: 10px;
}
span:hover
{
background:#c7c7c7;
font-weight: bold;
}
.content
{
background: #E2E5F6;
border-radius: 30px;
text-align: center;
margin: auto;
position: inherit;
width: 60%;
height: 60%;
top: 15%;
}
.answer
{
text-align: center;
margin: auto;
position: inherit;
font-size: 12px;
}
input + label + .answer{
display: none;
}
input:checked + label + .answer {
display: block;
}
input:checked + label
{
font-weight: bold;
}
h1
{
text-align: center;
position: inherit;
top: 5%;
margin: 30px 250px 40px 0px;
padding-top: 40px;
}
img{
float: left;
margin-top: 300px;
margin-left: 210px;
}
