body
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Kumbh Sans", sans-serif;
line-height: 1.4;
background: linear-gradient(365deg,hsl(261, 98%, 58%),hsl(283, 74%, 52%));
height: 100vh;
position: relative;
}
input
{
display: none;
}
label
{
display: block;    
padding: 8px 22px;
margin: 0 0 1px 0;
cursor: pointer;
background:white;
border-radius: 3px;
color:black;
transition: ease .5s;
}
.content
{
background: #E2E5F6;
padding: 10px 25px;
border: 1px solid #A7A7A7;
margin: 0 0 1px 0;
border-radius: 30px;
text-align: right;
margin: auto;
position: inherit;
width: 70%;
height: 70%;
top: 10%
}
.question
{
padding: 10px 25px;
border: 1px solid #A7A7A7;
margin: 0 0 1px 0;
border-radius: 30px;
text-align: right;
margin: auto;
position: inherit;
}
input + label + .question{
    display: none;
}
input:checked + label + .question {
    display: block;
}
input:checked + label
{
    font-weight: bold;
}
h1
{
text-align: center;
position: inherit;
top: 5%
}
ul{
list-style-type: none;
text-align: left;
position: inherit;
top: 40%;
left: 60%;
transform: translate(-50%, -50%);
}

img{
float: left;
}
